.stat-card {    
    .mat-card-header-text {
        border-bottom: 0;
    }

    .stat-icon-container {
        background-color: #3f51b5;
        height: 55px;
        width: 55px;
        border-radius: 5%;
        margin-top: -25px;
        .stat-icon {
            color: #fff;
            padding-left: 13px;
            padding-top: 12px;
            font-size: 30px;
        }
    }

}
